<div class="pedidos">
    <h2>{{@pedido.Produto}}</h2> 
    <div>
        <li>{{@precoporcodigo.codigo-regiao}} {{@codigosPorCep.CepInicial}} Preço do frete</li>
        <li>Dimensão: {{@pedido.Largura}} x {{@pedido.Altura}} x {{@pedido.Comprimento}} </li>
        <li>Data: {{@pedido.Data}}</li>
    </div>
    <div>
        <li>quant: {{@pedido.Quantidade}}</li>
        <li>preço do frete: {{this.precoDoFrete}}</li>
    </div>
    <div>
        <li>status: {{this.status}}</li>
        <li>email enviado? {{this.emailEnviado}}</li>
    </div>
    <div>
        <button type="button" {{action 'enviarEmail'}}>Enviar Email para comprador</button>
        <button type="button" {{action 'cancelarPedido'}}>Cancelar pedido</button>
    </div>    {{!-- <button {{action 'adicionarProduto'}}>Adicionar produto</button> --}}
</div>