<div class="pedidos">
    <h2>{{@pedido.Produto}}</h2> 
    <div>
        <li>Preço do frete: R$ {{@pedido.Valor}} </li>
        <li>Dimensão: {{@pedido.Largura}}cm x {{@pedido.Altura}}cm x {{@pedido.Comprimento}}cm </li>
        <li>Data: {{@pedido.Data}}</li>
    </div>
    <div>
        <li>quant: {{@pedido.Quantidade}} uni.</li>
        <li>Peso do pedido: {{@pedido.PesoDoProduto}} g.</li>
    </div>
    <div>
        <li>status: {{this.status}}</li>
        <li>email enviado? {{this.emailEnviado}}</li>
    </div>
    <div>
        <button type="button" {{action 'enviarEmail'}}>Enviar Email para comprador</button>
        <button type="button" {{action 'cancelarPedido'}}>Cancelar pedido</button>
    </div>    {{!-- <button {{action 'adicionarProduto'}}>Adicionar produto</button> --}}
</div>