<div class="Title">
    <h1>Seus Pedidos:</h1>
    <button class="NewOrder" type="button" {{action "show"}}>New Order</button>
</div>


{{#each @model.pedidos as |pedido|}}
    <PedidoCard @pedido={{pedido}} @codigosPorCep={{@modal.codigoPorCepparsed}} @precoporcodigo={{@model.precoporcodigo}}>

    </PedidoCard>
{{/each}}
{{outlet}}


<div class="modal-container" id="modalID">
    <div class="modal">
        <h1>New Order</h1>
        <p>What is the order name?</p>
        <input type="text" name="name" id="name">
        <p>What is the order weight in grams?</p>
        <input type="number" name="weight" id="weight">
        <p>How wide is the order in centimeters?</p>
        <input type="number" name="wide" id="wide">
        <p>What is the order height in centimeters?</p>
        <input type="number" name="height" id="height">
        <p>What is the order depth in centimeters?</p>
        <input type="number" name="depth" id="depth">
        <p>How many items will there be?</p>
        <input type="number" name="amount" id="amount">
        <p>What is your zip code?</p>
         <input type="number" name="zip_code" id="zip_code" {{!--minlength="8"--}}>  
        <ul class="results">
            <button class="fechar"  id="teste" type="button" {{action "close"}}>X</button>
            <p class="button">
                <button type="button"{{action "calculate"}}>Calculate the total price </button>
                <button  type="button" id="addorder" {{action "adicionarPedidos"}}>Buy</button>
            </p>
        </ul>
    </div>
</div>