{{page-title "Pedidos"}}

<LinkTo @route="index" class="botao">
    Voltar para a pagina principal
</LinkTo>

<h1>Temos {{this.QuandadeDePedidos}} novos!</h1>

<button type="button" {{action 'adicionarPedido'}}>
    Adicionar pedido
</button>

{{#each @model.pedidos as |pedido|}}
    <PedidoCard @pedido={{pedido}} @codigosPorCep={{@codigosPorCep.cep}} @precoPorCodigo={{@model.precoPorCodigo}}>

    </PedidoCard>
{{/each}}   
{{outlet}}
